.message_erreur, .message_info
{
	border: 1px;
	border-style: solid;
	padding: 20px;
	width : 400px;
	text-align : center;
	margin : 30px;
}

.message_erreur
{
	color : #FF0000;
	border-color:#FF0000;
}

.message_info
{
	color : #000000;
	border-color:#000000;
}

.enteteWS
{
	background-color: #66A3C7;
	color: #fff;
	font-weight: bold;
	text-align: center;
	font-size: 14px;
	padding : 10px;
	margin : 10px;
	width:  100%;
	
}